//
// Do any local configuration here
//

// Consider adding the 1918 zones here, if they are not used in your
// organization
//include "/etc/bind/zones.rfc1918";
zone "corp{{user_x}}.un" {
    type master;
    file "corp{{user_x}}.un";
};

zone "{{user_x}}.168.192.in-addr.arpa" {
    type master;
    file "corp{{user_x}}.rev";
};
